#requirements.dev is created just to run it in the dev image build ( not to be deployed )
flake8>=4.0.1,<4.1
#flake8 is a python tool used for linting (fixing code)
#run  docker-compose run --rm app sh -c "flake8" in cmd to run flake8 => FLAKE 8 IS NOT AVAILABLE IN THE CURRENT DOCKER IMAGES only for pipelines

#run docker-compose run --rm app (app service )sh -c "django-admin startproject app ." to start the django project in the current dir
#run docker-compose up ->to run the services
#run docker-compose build -> to build the container
#run docker-compose run --rm app sh -c "python manage.py startapp core" -> to run a new django app called core ( where we are going to save the check db availabilty command)
#run docker-compose run --rm app sh -c "python manage.py test" -> to run the test file
#run docker-compose run --rm app sh -c "python manage.py makemigrations" -> to make db migrations ( create models )
#run docker-compose run --rm app sh -c "python manage.py migrate" -> to add to the db
#if we have insonsistent history, we need to clear the volumes
#docker volume ls ( check the running volume )
#docker-compose down to clear
#docker volume rm -name of the volume -> clears the volume
#run docker-compose run --rm app sh -c "python manage.py createsuperuser" -> create admin